<li>
	{{name}}

	<button class="change-state" data-id="{{id}}" data-newstate="{{devour}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>